
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');



*{
    box-sizing:border-box;
}
body {
    background-image: url("img/nature1.jpg");

    
    
    background-size:cover;
    background-position:center;
    font-family: 'Poppins', sans-serif;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    min-height:100vh;
    margin-top:-10rem;
}
.countdown-container{
    display:flex;
    
}
h1{
    Color:red;
    font-weight:normal;
    font-size:4rem;
    margin-top:5rem;

}
.big-text {
    font-weight:bold;
font-size:6rem;
line-height:1;
margin:0 2rem;

}
.countdown-el {
    text-align:center;
}
.countdown-el span {
    font-size:1.5rem;
}
.img {
    width:100vh;
    height:100vh;
}